<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <main>

        <div class="Adashboard">
                  <!-- header section -->
            <div class="Pheader">
                <div class="profile">Profile</div>
                <div class="message">Message</div>
                <div class="notification" style="color: red;">Notification</div>
            </div>

            <div>
                <button>PROVIDERS</button><br><br>
                <button>PATIENTS</button>
            </div>

            <!-- providers sections -->
            <div class="provider_admin_page">
                <div id="fsearch">
                    <h4>Filter Search</h4>
                    <div  style="display: none;">
                        <h2>View by:</h2>
                        <p>Specialty</p>
                        <p>Date of Registration</p>
                        <p>Highest Rate by Patients</p>
                        <p>Highest number of patients</p>
                        <p>Reports/Complaints</p>
                    </div>
                </div>
                <div><h4>Verified</h4></div>
                <div><h4>Pending</h4></div>
                <div><h4>Cancelled</h4></div>
                <div><h4>Specialty</h4></div>
            </div>




            <!-- patients sections -->
            <div class="patient_admin_page">
                <div id="fsearch">
                    <h4>Filter Search</h4>
                    <div  style="display: none;">
                        <h2>View by:</h2>
                        <p>Health Challenge</p>
                        <p>Date of Registration</p>
                        <p>Origin</p>
                        <p>More than one Provider</p>
                    </div>
                </div>
                <div><h4>Discharged</h4></div>
                <div><h4>Engaging</h4></div>
                <div><h4>Health Issues</h4></div>
            </div>

        </div>
    </main>

    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>

</body>
</html>