<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
    <link rel="stylesheet" href="/aidocstyle.css">
</head>
<body>
    
    <main>
        <h1>Admin Page</h1>
        <div class="admin_wrapper">
            <div class="provider_admin_page">
                <h2>Providers List</h2>
                <div>
                    <h2>View by:</h2>
                    <p>Specialty</p>
                    <p>Date of Registration</p>
                    <p>Highest Rate by Patients</p>
                    <p>Highest number of patients</p>
                    <p>Reports/Complaints</p>
                </div>
            </div>
    
            <div class="patient_admin_page">
                <h2>Patients List</h2>
                <div>
                    <h2>View by:</h2>
                    <p>Health Challenge</p>
                    <p>Date of Registration</p>
                    <p>Origin</p>
                    <p>More than one Provider</p>
                </div>
            </div>
        </div>
    </main>

</body>
</html>