<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="formstyle.css">
</head>
<body>
  <header>
    <%- include ('partials/header.ejs') %>
  </header>

  <main>

    <div class="l-form" id="l-form-gen">
      <!-- ADMIN LOGIN FORM -->
      <div class="AdmLoginContainer">
       
        <h2>Admin Login</h2>
        <img src="" alt="account image">
        <form id="AdmLoginForm" action="/login/admin">
          <div id="message"></div>
          <label for="codenum">Admin Code Number</label>
          <input type="text" id="codenum" name="codenum"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>
          <button type="submit">Login</button>
          <p><a href="#">Forgot password?</a></p>
          <p>Do not have account? <a href="#"   onclick="togglePatient('PtSignupForm')"  >Sign Up</a></p>        
        </form>

        <p>Are you a Doctor? Visit <a href="#" onclick="togglePortal('doctorPortal')">Doctor Portal</a></p>
      </div>


      <!-- PROVIDER LOGIN FORM -->
      <div class="DrLoginContainer">
        
        <div id="message"></div>    
        <h2>Provider Login</h2>
        <img src="" alt="account image">
        <form id="DrLoginForm" action="/login/provider" method="POST">
          <label for="specialty">Specialty</label>
          <input type="text" id="specialty" name="specialty"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="password">Password:</label> 
          <input type="password" id="password" name="password" required><br><br>
          <button type="submit">Login</button>
          <p><a href="#">Forgot password?</a></p>
          <p>Do not have account? <a href="#"   onclick="togglePatient('PtSignupForm')"  >Sign Up</a></p>
        </form>

        <p>Are you a Doctor? Visit <a href="#" onclick="togglePortal('doctorPortal')">Doctor Portal</a></p>
      </div>


      <!-- PATIENTS LOGIN FORM -->
      <div class="PtLoginContainer" id="loginpatient" >
        <div id="message"></div>
        
        <h2>Patient Login</h2>
        <img src="" alt="account image">
        <form id="PtLoginForm" action="/login/patient" method="POST">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>
          <button type="submit">Login</button>
          <p><a href="#">Forgot password?</a></p>
          <p>Do not have account? <a href="#"   onclick="togglePatient('PtSignupForm')">Sign Up</a></p>
          <!-- <div id="loginMessage"></div> -->
        </form>

        <p>Are you a Doctor? Visit <a href="#" onclick="togglePortal('doctorPortal')">Doctor Portal</a></p>
      </div>

    </div>

  </main>



  <footer>
    <%- include ('partials/footer.ejs') %>
  </footer>
</body>
</html>