<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Doctors Dashboard</title>
  <link rel="stylesheet" href="/dashboard.css">
</head>
            <body>
              <!-- Pop-up container -->
                <div class="popup-container" id="popup-container">
                    <div class="popup">
                        <h2>Welcome</h2>
                        <p>Stay healthy and live healthy</p>
                        <button id="close-popup">Close</button>
                    </div>
                </div>
              
              <div class="Pdashboard" >

                 <!-- header section -->
                <div class="Pheader">
                  <div class="profile">Profile</div>
                  <div class="appointment">Appointment</div>
                  <div class="notification" style="color: red;">Notification</div>
                </div>

                 <!--dashboard content section; doctors list, and main-->
                <div class="dashboardContent">
                  <div class="Pr_ListWrapper">

                   <div class="list">
                     <!-- proider 1 -->
                     <div class="doc">
                        <img class="nav_img" src="./doc.png">
                        <div class="nav_mini_detail">
                          <p>Profit C A</p>
                          <p>Psychtrist</p>
                          <p>Nigeria</p>
                          <p>Active</p>
                        </div>         
                     </div>

                     <!-- proider 1 -->
                     <div class="doc">
                      <img class="nav_img" src="./doc.png">
                      <div class="nav_mini_detail">
                        <p>Profit C A</p>
                        <p>Psychtrist</p>
                        <p>Nigeria</p>
                        <p>Active</p>
                      </div>         
                   </div>

                   <!-- proider 1 -->
                   <div class="doc">
                    <img class="nav_img" src="./doc.png">
                    <div class="nav_mini_detail">
                      <p>Profit C A</p>
                      <p>Psychtrist</p>
                      <p>Nigeria</p>
                      <p>Active</p>
                    </div>         
                 </div>

                 <!-- proider 1 -->
                 <div class="doc">
                  <img class="nav_img" src="./doc.png">
                  <div class="nav_mini_detail">
                    <p>Profit C A</p>
                    <p>Psychtrist</p>
                    <p>Nigeria</p>
                    <p>Active</p>
                  </div>         
               </div>

               <!-- proider 1 -->
               <div class="doc">
                <img class="nav_img" src="./doc.png">
                <div class="nav_mini_detail">
                  <p>Profit C A</p>
                  <p>Psychtrist</p>
                  <p>Nigeria</p>
                  <p>Active</p>
                </div>         
               </div>

              <!-- proider 1 -->
             <div class="doc">
              <img class="nav_img" src="./doc.png">
              <div class="nav_mini_detail">
                <p>Profit C A</p>
                <p>Psychtrist</p>
                <p>Nigeria</p>
                <p>Active</p>
              </div>         
             </div>

                     
                     
                     
                  </div>


                   
                   <!--logout section -->
                    <p id="logout">Logout</p>
                  </div>

                  <!-- main section of patients dashboard -->
                  <div class="main">
                      <img class="content_image" src="./doc.png">
                      <div class="doc_mini_detail">
                        <p><b>Profit C Anaele</b></p> <p>|</p>
                        <p>Cardiologist</p><p>|</p>
                        <p>FMC,Owerri</p> <p>|</p>
                        <p>Nigeria</p>
                      </div>
                      <!-- process with doctor -->
                      <div class="process">
                        <button>Chat</button>  <button>Call</button> <button>Live Video</button>
                      </div>

                      <div class="conditions">
                        <p>Engagement<b>+</b></p> <p>Result<b>+</b></p> <p>Prescription<b>+</b></p>
                        <p>Health-Status<b>+</b></p>
                      </div>
  
                      <!-- 
                      <div>
                        <textarea placeholder="type here"></textarea> <br>
                        <button type="submit" style="background:green;">Send</button>
                      </div> 
                      -->
                  </div>
                  
 
                </div>

                <!--footer-->
                <div class="footer">
                  my footers goes here
                </div>



                
                
                
                
                
                
                
              </div>

              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              <script>

            // Show pop-up after 2 seconds of page load
            window.addEventListener("load", function() {
                setTimeout(function() {
                    document.getElementById("popup-container").style.display = "flex";
                }, 3000);
            });

            // Close pop-up when close button is clicked
            document.getElementById("close-popup").addEventListener("click", function() {
                document.getElementById("popup-container").style.display = "none";
            });

            </script>
              
            </body>
            </html>