/* form styling */
.l-form, .r-form {
    padding: 7px;
    opacity: .7;
    width: 100%;
    background: rgb(222, 247, 239);
  }

  .AdmLoginContainer, .DrLoginContainer, .PtLoginContainer, .DrRegisterContainer, .PtRegisterContainer {
    padding: 2rem;
    border: 2px solid rgb(43, 199, 149);
    text-align: center;
    margin-bottom: 2rem;
  }

