/* HEALTH CSS */
body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(222, 247, 239);
}

 /* Style the pop-up container */
 .popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(112, 169, 253);
}

/* Style the pop-up */
.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 600px;
}

/* Style the close button */
#close-popup {
  background-color: #fa2b2b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: #ed9292;
}


a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style: none;
}

.wrapper {
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: large;
  color: crimson;
  margin-bottom: 0.5rem;
}

.midBody {
  display: flex;
  column-gap: 30px;
}

/* side navigation styling */
.sideNav {
  width: 150px;
  height: fit-content;
  border-radius: 7px;
  padding: 3rem;
  margin-right: 0.5rem;
  background: rgb(170, 231, 211);
}

.navList>h5 {
  cursor: pointer;
  font-size: 15px;
}

/* content section styling */
.content {
  flex-grow: 1;
  border-radius: 7px;
}

h3 {
  color: rgb(249, 41, 41);
}

/* emergency and trends section*/
.caseContainer, .trends, .about {
  display: block;
  height: 250px;
  padding: 15px;
  background:rgb(201, 235, 224);
  border-radius: 1rem;
}

/* medical trends and researches */
.trends {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about {
  margin-bottom: 3rem;
}

label {
  font-weight: 600;
}

input, textarea, select {
  margin-bottom: 1rem;
}

/*form styling*\
