
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet', href='/stylesheets/accountstyle.css'>
    <title>account</title>
    </head>
<body>

    <header>
      <%- include ('partials/header.ejs') %>
    </header>

    <a href="/account/home">Go back Home</a>

  <main id="">
    <div><%- include ('partials/userNav.ejs') %></div>
    <!--PATIENTS SECTION-->
    <div id="patientSection" style="display: block;">
        <h1>PATIENTS PORTAL</h1>

        <!-- patients signup -->
        <div class="" id="Pts" style="display: none;">
            <h3>Sign Up</h3>
            <form action="/patients/signup" method="POST">
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Sign Up</button>
                <p>Registered Patients; <a href="#" onclick="patientPtL('Ptl')">Login</a></p>
            </form>
        </div>


        <!-- patients login -->
        <div class="" id="Ptl">
            <h3>Login</h3>
            <form action="/patients/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
                <p>Not registered patients; <a href="#" onclick="patientPtS('Pts')">Create Account</a></p>
            </form>
        </div>
    </div>
  </main>

    <!-- footer section  -->
    <footer>
      <%- include ('partials/footer.ejs') %>
    </footer>
</body>
<script>
    //FOR PROVIDERS
    // providers signup
    function providerS() {
        document.getElementById("providerSection").style.display = "block";
        document.getElementById("pl").style.display = "none";
        document.getElementById("ps").style.display = "block";
        document.getElementById("patientSection").style.display = "none";
        document.getElementById("adminSection").style.display = "none";
    }
    // providers login
    function providerL() {
        document.getElementById("providerSection").style.display = "block";
        document.getElementById("ps").style.display = "none";
        document.getElementById("pl").style.display = "block";
        document.getElementById("patientSection").style.display = "none";
        document.getElementById("adminSection").style.display = "none";
    }

    //FOR PATIENTS
    // patients signup
    function patientPtS() {
        document.getElementById("patientSection").style.display = "block";
        document.getElementById("Ptl").style.display = "none";
        document.getElementById("Pts").style.display = "block";
        document.getElementById("providerSection").style.display = "none";
        document.getElementById("adminSection").style.display = "none";
    }
    // patient login
    function patientPtL() {
        document.getElementById("patientSection").style.display = "block";
        document.getElementById("Pts").style.display = "none";
        document.getElementById("Ptl").style.display = "block";
        document.getElementById("providertSection").style.display = "none";
        document.getElementById("adminSection").style.display = "none";
    }

    //FOR ADMIN
    // admins signup
    function adminS() {
        document.getElementById("adminSection").style.display = "block";
        document.getElementById("al").style.display = "none";
        document.getElementById("as").style.display = "block";
        document.getElementById("patientSection").style.display = "none";
        document.getElementById("providerSection").style.display = "none";
    }
    // admin login
    function adminL() {
        document.getElementById("adminSection").style.display = "block";
        document.getElementById("as").style.display = "none";
        document.getElementById("al").style.display = "block";
        document.getElementById("patientSection").style.display = "none";
        document.getElementById("providerSection").style.display = "none";
    }


    document.addEventListener('DOMContentLoaded', function() {
    const navLinks = document.querySelectorAll('.userNav a');

    navLinks.forEach(link => {
        link.addEventListener('click', function() {
            // Remove the 'active' class from all links
            navLinks.forEach(l => l.classList.remove('active'));

            // Add the 'active' class to the clicked link
            this.classList.add('active');
        });
    });
});
</script>

</html>