body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aquamarine;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Hide by default */
.profileEdit, .section, #appointmentStatus, #viewAppointments, #providersList{
  display: none;
}

.admin_wrapper{
  display: grid;
  overflow: auto;
  height: 100%;
  gap: 8px;
  grid-template-columns: 150px 900px 271px;
  grid-template-rows: 80px 100% 200px;
  grid-template-areas: 'top_section top_section top_section' 'left_section center_section right_section' 'footer_section footer_section footer_section';
}

.users_wrapper{
  display: grid;
  overflow: auto;
  height: 100%;
  gap: 8px;
  grid-template-columns: 250px 1100px;
  grid-template-rows: 80px 100% 200px;
  grid-template-areas: 'users_top users_top' 'users_left users_container' 'users_footer users_footer';
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Top section styling */
#top_section{
  grid-area: top_section;
}

#users_top{
  grid-area: users_top;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Left side section styling */
#left_section{
  grid-area: left_section;
  padding: 2rem;
}

#users_left{
  grid-area: users_left;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Center section styling */
#center_section{
  grid-area: center_section;
  padding: 2px 2px;
  margin: 0;
}

#users_container{
  grid-area: users_container;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Right side section styling */
#right_section{
  grid-area: right_section;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Footer section styling */
#footer_section{
  grid-area: footer_section;
  background: grey;
}

#users_footer{
  grid-area: users_footer;
  background: grey;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */

#right_section, #users_left, #top_section, #users_top, #left_section{
  background-color: rgb(108, 252, 204);
  border-radius: 7px;
}


 /* Style the pop-up container */
 .popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(112, 169, 253);
}

/* Style the pop-up */
.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 600px;
}

/* Style the close button */
#close-popup {
  background-color: #fa2b2b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: #ed9292;
}

.edit{
  color: rgb(253, 55, 55);
  cursor: pointer;
  margin-left: 7px;
  font-weight: 800;
  border-radius: 5px;
}

.editClose{
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  margin-left: 5px;
  color: red;
}

.dViews{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 2rem;
  padding: 20px;
  justify-items: center;
}

.dViewsList{
  background-color: #e8f4f8;
  width: 60%;
  height: 10rem;
  opacity: 1;
}

.cHeader{
  border: 1.3px solid rgb(68, 252, 221);
  border-radius: 1rem;
}

.cHeader>button, .cHeader>a{
  border: none;
  font-size: 10px;
  background: white;
  color: black;
}

.dViewsList>p{
  text-align: center;
  color: #fa2b2b;
  font-weight: 800;
}